
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
    padding-bottom: 5px;
}
/* Home Section */
#home{
height: 255px;
padding: 10px;
}

#home::before {
    height: 370px;
}

#home p{
    font-size: 13px;
}

.btn{
    font-size: 20px;
    padding: 6px 10px;
}

/* Services section */
#services{
    flex-direction: column;
}

#services .box{
padding: 14px;
margin: 2px ;
margin-bottom: 20px;
}


/* Client Section */

#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 65px;
    padding: 2px 15px;
    height: auto;
}

/* contact us section */
#contact-box form{
    width: 80%;
}


/* Utility */
.h-primary{
    font-size: 25px;
}